* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: calc(100%/3);  /* Divisé en 3 */
    padding: 10px;
}


.column img{
    border:solid 2px black;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}