{# templates/backoffice/circuitnew.html.twig #}

{% extends "backoffice/adminlayout.html.twig" %}

{% block title %}{{ parent() }} - New circuit{% endblock %}

{% block body %}

  <h1>Nouveau Circuit</h1>
(Date ajout: Année-Mois-Jour)
  {% include 'backoffice/circuitform.html.twig' %}

{% endblock %} {# main #}
