{# templates/backoffice/circuitform.html.twig #}

{# To be included for new / modify Circuit forms #}

{# Use bootsrap style widgets for the form #}
{% form_theme formulaire 'bootstrap_3_layout.html.twig' %}

{% block navbar%}
    {% include 'modules/collabnavbar.html.twig' %}
{% endblock %}

{% block style %}

    <style>

        .newform input[type="text"], .newform input[type="description"] {
            width: 90rem;
            padding: 12px 20px;
            margin-left: 20px;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 50px;
            box-sizing: border-box;
            height: 50px;
        }

    </style>

{% endblock %}

<form action="#" method="post" class="newform">
    <br>
    {{ form_widget(formulaire) }}
<br>
    <input class="btn btn-success btn-block" type="submit" name="submit"  />
</form>
