<div style="margin-top:7%;padding-right:5px;padding-left:5px;" class="col-sm-2 sidenav">
    <div class="well">
        <h3>Nouveaux parcours:</h3>
        <ul style="list-style-type:none;padding:0">
            <li><a>Andalousie</a></li>
            <li><a>Vietnam</a></li>
        </ul>
    </div>
    <div class="well">
        <h3>Prochaines programmations:</h3>
        <ul style="list-style-type:none;padding:0">
            <li><a>Italie le 13-10-2017 </a></li>
        </ul>
    </div>
    <div class="well wellBig">
        {% include 'modules/horloge.html.twig' %}
    </div>
</div>