<nav>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="background-color:#333" ><img style="display:inline-block;width:30px;"src="/favicon.jpg"> Voyages Bus-Magique</a>
        </div>

        <a href="/">Accueil</a>
        <a href="/programmation">Programmations</a>
        <a href="/circuit">Circuits</a>
        {#
        <div class="dropdown">
            <button class="dropbtn" onclick="myFunction()">Circuits
            </button>
            <div class="dropdown-content" id="myDropdown">
                <a href="#">Andalousie</a>
                <a href="#">Italie</a>
                <a href="#">Vietnam</a>
                <a href="#">Ile de France</a>
            </div>
        </div>#}
        <a class="nav navbar-nav navbar-right" href="#" onclick="document.getElementById('id01').style.display='block'"><span class="glyphicon glyphicon-log-in"></span>  Connexion</a></li>
    </div>
</nav>
