<div style="margin-top:7%;padding-right:5px;padding-left:5px;" class="col-sm-2 sidenav" id="colright">
    <div class="well">
        <h3>A propos</h3>
        <p>Avec Voyages Bus-Magique, découvrez de nouvelles contrées, faites des rencontres mémorables.<br>Laissez libre court à votre imagination !</p>
    </div>
    <div class="well">
        <h3>Contacts</h3>
        <p><span class="glyphicon glyphicon-envelope"></span>   voyages@bus-magique.eu</p>
        <p><span class="glyphicon glyphicon-phone-alt"></span>   +33 1 59 46 35 95</p>

        <p><span class="glyphicon glyphicon-map-marker"></span>  15 rue des Voyageurs,<br>Paris, 75005</p>
    </div>

    <div class="well wellBig">
        <div id="map" style="width:26rem;height:23rem"></div>
    </div>

</div>