{# templates/baselayout.html.twig #}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Le Bus Magique{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="/vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/vendor/twbs/bootstrap/dist/css/bootstrap-theme.min.css">
    <link type="text/css" rel="stylesheet" href="/css/base.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>
    {% block style %}

    {% endblock %}
</head>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="background-color:#222" href="#"><img style="display:inline-block;width:30px;"src="favicon.jpg"> Voyages Bus-Magique</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a class="navbar-link" href="/">Accueil</a></li>
                <li><a class="navbar-link" href="/circuit">Circuits</a></li>
                <li><a class="navbar-link" href="/programmation">Programmation</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" onclick="document.getElementById('id01').style.display='block'"><span class="glyphicon glyphicon-log-in"></span>  Connexion</a></li>
            </ul>
        </div>
    </div>
</nav>

<body>

<!-- Form de connexion -->

<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'"
        class="close" title="Close Modal">&times;</span>

    <form class="modal-content animate" action="/login.php">
        <div class="imgcontainer">
            <img style="width:200px;" src="/images/avatar.png" alt="Avatar" class="avatar">
        </div>

        <div class="container">
            <label><b>Identifiant</b></label>
            <input type="text" placeholder="Entrez votre identifiant" name="identifiant"   oninput="this.setCustomValidity('')"  oninvalid="this.setCustomValidity('Veuillez entrer un identifiant valide')" required>

            <label><b>Mot de passe</b></label>
            <input type="password" placeholder="Entrez votre mot de passe" name="pswd" oninput="this.setCustomValidity('')"  oninvalid="this.setCustomValidity('Veuillez entrer un mot de passe valide')" required>

            <button type="submit">Me Connecter</button>
        </div>
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn center-block">Retour</button>
    </form>
</div>


<div class="container-fluid text-center">
    <div class="row content">

        <!-- Menu gauche, nouveautes -->

        <div class="col-sm-2 sidenav">
            <div class="well">
                <h3>Nouveaux parcours:</h3>
                <ul style="list-style-type:none;padding:0">
                    <li><a>Andalousie</a></li>
                    <li><a>Vietnam</a></li>
                </ul>
            </div>
        </div>

        <!-- Centre -->
        <div class="col-sm-8 text-left">
            {% block body %}
            {% endblock %}
            <br>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>

        <!-- Infos entreprise -->

        <div class="col-sm-2 sidenav">
            <div class="well">
                <h3>A propos</h3>
                <p>Avec Voyages Bus-Magique, découvrez de nouvelles contrées, faites des rencontres mémorables.<br>Laissez libre court à votre imagination !</p>
            </div>
            <div class="well">
                <h3>Contacts</h3>
                <p><span class="glyphicon glyphicon-envelope"></span>   voyages@bus-magique.eu</p>
                <p><span class="glyphicon glyphicon-phone-alt"></span>   +33 1 59 46 35 95</p>

                <p><span class="glyphicon glyphicon-map-marker"></span>  15 rue des Voyageurs,<br>Paris 5ème<br>75005</p>
            </div>
        </div>


    </div>
</div>
<script src="/js/bootstrap.min.js"></script>
</body>

<footer class="footer">
  <div id="footer_content">
      {% block footer %}
      {% endblock %}
  </div>
</footer>
