{# templates/baselayout.html.twig #}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Le Bus Magique{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="/vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/vendor/twbs/bootstrap/dist/css/bootstrap-theme.min.css">
    <link type="text/css" rel="stylesheet" href="/css/base.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>
    {% block style %}

    {% endblock %}
</head>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <ul>
        <li><a href="/">Index</a></li>
        <li><a href="/circuit">Circuits List</a></li>
        <li><a href="/programmation">Programmations List</a></li>
      </ul>
    </div>
</nav>

<body>
  <div id="content" class="row active">
      <div class="col-md-12">
      {% block body %}
      {% endblock %}
      </div>
  </div>
<script src="/js/bootstrap.min.js"></script>
</body>

<footer class="footer">
  <div id="footer_content">
      {% block footer %}
      {% endblock %}
  </div>
</footer>
