{# templates/baselayout.html.twig #}
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Le Bus Magique{% endblock %}</title>
    {% block style %}
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="/css/bootstrap-theme.min.css">
        <link type="text/css" rel="stylesheet" href="/css/base.css">

    {% endblock %}
</head>

<nav id="sidebar-wrapper" class="active">
  <ul class="sidebar-nav"  id="sidebar">
    <li><a class="menu-link" href="/"><span class="sidebar-text">Index</span><span class="fa fa-home menu-icon"></span></a></li>
    <li><a class="menu-link"  href="/circuit"><span class="sidebar-text">Circuits List</span><span class="fa fa-align-left menu-icon"></span></a></li>
    <li><a class="menu-link"  href="/programmation"><span class="sidebar-text">Programmations List</span><span class="fa fa-arrow-right menu-icon"></span></a></li>
  </ul>
</nav>

<body>
  <div id="content" class="row active">
      <div class="col-md-12">
      {% block body %}
      {% endblock %}
      </div>
  </div>
<script src="/js/bootstrap.min.js"></script>
</body>

<footer class="footer">
  <div id="footer_content">
      {% block footer %}
      {% endblock %}
  </div>
</footer>
