{# templates/baselayout.html.twig #}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Le Bus Magique{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="/vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/vendor/twbs/bootstrap/dist/css/bootstrap-theme.min.css">
    <link type="text/css" rel="stylesheet" href="/css/base.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>
    {% block style %}

    {% endblock %}
</head>

{% block navbar%}
{% include 'modules/navbar.html.twig' %}
{% endblock %}
<body>

<!-- Form de connexion -->
{% include 'modules/connectionForm.html.twig' %}
<div class="container-fluid text-center">
    <div  class="row content">

        <!-- Menu gauche, nouveautes -->

        {% include 'modules/leftBar.html.twig' %}

        <!-- Centre -->
        <div style="padding-top:0%;"class="col-sm-8 text-left">
            <div class="container">

            {% block body %}
            {% endblock %}

            </div>
        </div>

        <!-- Infos entreprise -->

        {% include 'modules/rightBar.html.twig' %}


    </div>
</div>
<script src="/vendor/components/jquery/jquery.min.js"></script>
<script src="/vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/js/modal.js"></script>
<script src="/js/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCx82BRRrYUN7aSZu4IeS8ubdNQOZZwwdA&callback=myMap"></script>
{% block scripts %}{% endblock %}
</body>


<footer class="footer">
  <div id="footer_content">
      {% block footer %}
      {% endblock %}
  </div>
</footer>
