{# templates/baselayout.html.twig #}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Le Bus Magique{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="/vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/vendor/twbs/bootstrap/dist/css/bootstrap-theme.min.css">
    <link type="text/css" rel="stylesheet" href="/css/base.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>
    {% block style %}

    {% endblock %}
</head>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/">Accueil</a></li>
                <li><a href="/circuit">Circuits</a></li>
                <li><a href="/programmation">Programmation</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<body>

<div class="container-fluid text-center">
    <div class="row content">

        <!-- Menu gauche, nouveautes -->

        <div class="col-sm-2 sidenav">
            <div class="panel panel-default">
                <h3>Nouveaux parcours:</h3>
                <ul style="list-style-type:none;padding:0">
                    <li><a>Andalousie</a></li>
                    <li><a>Vietnam</a></li>
                </ul>
            </div>
        </div>

        <!-- Centre -->
        <div class="col-sm-8 text-left">
            {% block body %}
            {% endblock %}
            <br>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>

        <!-- Infos entreprise -->

        <div class="col-sm-2 sidenav">
            <div class="well">
                <h3>A propos</h3>
                <p>Avec Voyages Bus-Magique, découvrez de nouvelles contrées, faites des rencontres mémorables.<br>Laissez libre court à votre imagination !</p>
            </div>
            <div class="well">
                <h3>Contacts</h3>
                <p><span class="glyphicon glyphicon-envelope"></span>   voyages@bus-magique.eu</p>
                <p><span class="glyphicon glyphicon-phone-alt"></span>   +33 1 59 46 35 95</p>

                <p><span class="glyphicon glyphicon-map-marker"></span>  15 rue des Voyageurs,<br>Paris 5ème<br>75005</p>
            </div>
        </div>


    </div>
</div>
<script src="/js/bootstrap.min.js"></script>
</body>

<footer class="footer">
  <div id="footer_content">
      {% block footer %}
      {% endblock %}
  </div>
</footer>
